<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- 过滤器 -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.icss.hr.common.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
  <servlet>
    <servlet-name>InsertDeptServlet</servlet-name>
    <servlet-class>com.icss.hr.dept.controller.InsertDeptServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertJobServlet</servlet-name>
    <servlet-class>com.icss.hr.job.controller.InsertJobServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryDeptServlet</servlet-name>
    <servlet-class>com.icss.hr.dept.controller.QueryDeptServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryJobServlet</servlet-name>
    <servlet-class>com.icss.hr.job.controller.QueryJobServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteDeptServlet</servlet-name>
    <servlet-class>com.icss.hr.dept.controller.DeleteDeptServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>DeleteJobServlet</servlet-name>
    <servlet-class>com.icss.hr.job.controller.DeleteJobServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ToUpdateDeptServlet</servlet-name>
    <servlet-class>com.icss.hr.dept.controller.ToUpdateDeptServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToUpdateJobServlet</servlet-name>
    <servlet-class>com.icss.hr.job.controller.ToUpdateJobServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateDeptServlet</servlet-name>
    <servlet-class>com.icss.hr.dept.controller.UpdateDeptServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateJobServlet</servlet-name>
    <servlet-class>com.icss.hr.job.controller.UpdateJobServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.icss.hr.admin.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDeptServlet</servlet-name>
    <url-pattern>/InsertDeptServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>InsertJobServlet</servlet-name>
  	<url-pattern>/InsertJobServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryDeptServlet</servlet-name>
    <url-pattern>/QueryDeptServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>QueryJobServlet</servlet-name>
    <url-pattern>/QueryJobServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteDeptServlet</servlet-name>
    <url-pattern>/DeleteDeptServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>DeleteJobServlet</servlet-name>
    <url-pattern>/DeleteJobServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToUpdateDeptServlet</servlet-name>
    <url-pattern>/ToUpdateDeptServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ToUpdateJobServlet</servlet-name>
    <url-pattern>/ToUpdateJobServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateDeptServlet</servlet-name>
    <url-pattern>/UpdateDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateJobServlet</servlet-name>
    <url-pattern>/UpdateJobServlet</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ToUpdateEmpServlet</display-name>
    <servlet-name>ToUpdateEmpServlet</servlet-name>
    <servlet-class>com.icss.hr.emp.controller.ToUpdateEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdateEmpServlet</servlet-name>
    <url-pattern>/ToUpdateEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmpServlet</display-name>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <servlet-class>com.icss.hr.emp.controller.DeleteEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <url-pattern>/DeleteEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertEmpServlet</display-name>
    <servlet-name>InsertEmpServlet</servlet-name>
    <servlet-class>com.icss.hr.emp.controller.InsertEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertEmpServlet</servlet-name>
    <url-pattern>/InsertEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryEmpServlet</display-name>
    <servlet-name>QueryEmpServlet</servlet-name>
    <servlet-class>com.icss.hr.emp.controller.QueryEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryEmpServlet</servlet-name>
    <url-pattern>/QueryEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmpServlet</display-name>
    <servlet-name>UpdateEmpServlet</servlet-name>
    <servlet-class>com.icss.hr.emp.controller.UpdateEmpServlet</servlet-class>
  </servlet>
  <servlet>
   <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JumpServlet</servlet-name>
    <servlet-class>com.icss.hr.job.controller.JumpServlet</servlet-class>
  </servlet>

  
  <servlet-mapping>
    <servlet-name>UpdateEmpServlet</servlet-name>
    <url-pattern>/UpdateEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JumpServlet</servlet-name>
    <url-pattern>/JumpServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JumpEmpServlet</display-name>
    <servlet-name>JumpEmpServlet</servlet-name>
    <servlet-class>com.icss.hr.emp.controller.JumpEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.icss.hr.emp.controller.DownloadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>JumpEmpServlet</servlet-name>
    <url-pattern>/JumpEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>